// Fonts
@font-face {
    font-family: 'Gotham Bold';
    src: url('/assets/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('/assets/Gotham\ Book\ Regular.otf');
}

$header-font: 'Gotham Bold', 'sans-serif';
$body-font: 'Gotham Book', 'sans-serif';


@mixin font-size($sizeValue) {
    font-size: ($sizeValue/10) * 1rem;
}


// Colours
$black: #0B0B0B;
$white: #FFFFFF;

$orange: #FCC772;
$yellow: #FDDF62;
$blue: #80DEEA;
$green: #BFEF88;
$green2:#98DB92;





// Media Queries
@mixin desktop {
    @media (max-width: 900px){
        @content;
    }
}


@mixin mobile-tablet {
    @media (max-width: 780px){
        @content;
    }
}


@mixin mobile {
    @media (max-width: 500px){
        @content;
    }
}
